Samples/CBTemplate/Binary/exe_Sample1.exe
Samples/CBTemplate/Binary/template.log
Samples/sln_Nutmeg/Debug/
Samples/sln_Nutmeg/exe_Sample1/Debug/
Samples/sln_Nutmeg/exe_Sample1/exe_Sample1.vcxproj.user
Samples/sln_Nutmeg/sln_Nutmeg.opensdf
Samples/sln_Nutmeg/sln_Nutmeg.sdf